<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Shivubank_project1</display-name>
  <welcome-file-list>
    <welcome-file>first.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EmployeeOperations</display-name>
    <servlet-name>EmployeeOperations</servlet-name>
    <servlet-class>com.app.controller.EmployeeOperations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeOperations</servlet-name>
    <url-pattern>/employeeoperations</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeLogin</display-name>
    <servlet-name>EmployeeLogin</servlet-name>
    <servlet-class>com.app.controller.EmployeeLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLogin</servlet-name>
    <url-pattern>/employeelogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerLogin</display-name>
    <servlet-name>CustomerLogin</servlet-name>
    <servlet-class>com.app.controller.CustomerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLogin</servlet-name>
    <url-pattern>/customerlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerRegistration</display-name>
    <servlet-name>CustomerRegistration</servlet-name>
    <servlet-class>com.app.controller.CustomerRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerRegistration</servlet-name>
    <url-pattern>/customerregistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountCreation</display-name>
    <servlet-name>AccountCreation</servlet-name>
    <servlet-class>com.app.controller.accountcreation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountCreation</servlet-name>
    <url-pattern>/accountcreation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deposit</display-name>
    <servlet-name>Deposit</servlet-name>
    <servlet-class>com.app.controller.Deposit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deposit</servlet-name>
    <url-pattern>/deposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Withdraw</display-name>
    <servlet-name>Withdraw</servlet-name>
    <servlet-class>com.app.controller.Withdraw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Withdraw</servlet-name>
    <url-pattern>/withdraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Transactiondetails</display-name>
    <servlet-name>Transactiondetails</servlet-name>
    <servlet-class>com.app.controller.Transactiondetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Transactiondetails</servlet-name>
    <url-pattern>/transactiondetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout1</display-name>
    <servlet-name>Logout1</servlet-name>
    <servlet-class>com.app.controller.Logout1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout1</servlet-name>
    <url-pattern>/logout1</url-pattern>
  </servlet-mapping>
</web-app>